h3 {
    margin-top: 30px;
    margin-left: 400px;
}
.container1{
    display: inline-block;
    width: 100px;
    height: 0px;
    padding: 0px;
    margin-left: 200px;
    margin-top: 50px;
}
.bi{
    margin-left:100px;
    margin-top: 20px;
}

.botones_ultimo{
    margin-top: 20px;
    margin-left: 380px;

}
.btn1{
    margin-right: 80px;
    background-color: white;
    padding: 7px 50px;
    color: black;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.btn1:hover{
    background-color: black;
    color: white;
}
.btn2{
    background-color: white;
    padding: 7px 50px;
    color: black;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.btn2:hover{
    background-color: black;
    color: white;
}
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
}
