*{
	margin: 0;
	padding: 0;
}

body{
	background: lightgray;
}

/*Aquí interactuamos con todo el contenedor principal*/
.container.mt-3 {
  border: 2px solid pink;
}

.row {
  border: 2px solid pink;
  margin-left: 75px;  
}

/*De esta manera interactuamos con todas las imágenes a la vez*/
.img-fluid{
	border: 6px solid darkred;
}

/*De esta manera interactuamos con cada imagen mediante su id*/
#a{
	border: 10px solid blueviolet;
}

.container.mt-3 h1{
	border: 5px solid greenyellow;
	text-align: center;
}

.container.mt-3 p{
	border: 5px solid lightgoldenrodyellow;
}